* {
  text-align: center;
}

.title {
  text-transform: uppercase;
  padding-top: 82px;
}

.main-logo {
  padding-top: 44px;
  padding-bottom: 100px;
}

.register {
  color: #FAFF00;
  font-size: 1rem;
  font-weight: 700;
  text-decoration-line: underline;
}